Nav {
    border-radius: 15px;
}

.header-search{
    width:500px;
}

.profile {
    border-radius: 50%;
    padding-top: 3px;
    background-color: orange;
    width: 32px;
    height: 32px;
    text-align: center;
    color: white;
    display: block;
}

#basic-navbar-nav {
    padding-right: 10px;
}

.dropdown .dropdown-toggle::after {
    content:none;
}
.dropdown .dropdown-menu {
    right:0px;
    left: auto;
    top: 120%;

}

.dropdown-item SVG{
    padding-right: 2%;
}